<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    a {text-decoration: none}
  </style>
</head>
<body text="#000000" link="#000000" alink="#000000" vlink="#000000">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="50%">&nbsp;</td><td align="center">

<a name="JR_PAGE_ANCHOR_0_1"></a>
<table style="width: 800px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 300px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 25px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Polo Direzionale LAZIO SARDEGNA E SICILIA</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 2 - Zona Sud Milano </span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 25px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Polo Direzionale LOMBARDIA</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 2 - Zona Sud Milano </span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top">
  <td colspan="5"><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 800px; height: 10px;"/></td>
</tr>
</table>
<br/>
<br/>

<a name="JR_PAGE_ANCHOR_0_2"></a>
<table style="width: 800px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 300px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 25px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Polo Direzionale MILANO E PROVINCIA</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 1 - Perugia NORD</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Commerciali di proprietà &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">3</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">3</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Direzionali di proprietà &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Immobili di terzi in gestione &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
</tr>
<tr valign="top">
  <td colspan="5"><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 800px; height: 45px;"/></td>
</tr>
</table>
<br/>
<br/>

<a name="JR_PAGE_ANCHOR_0_3"></a>
<table style="width: 800px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 300px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 1 -Milano Città </span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Commerciali di proprietà &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">3</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">3</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Direzionali di proprietà &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">2</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">Immobili di terzi in gestione &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 2 - Zona Sud Milano </span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
</tr>
</table>
<br/>
<br/>

<a name="JR_PAGE_ANCHOR_0_4"></a>
<table style="width: 800px; border-collapse: collapse" cellpadding="0" cellspacing="0" border="0" bgcolor="white">
<tr>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 300px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
  <td><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 125px; height: 1px;"/></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 25px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Polo Direzionale PIEMONTE E LIGURIA</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 1 - Perugia NORD</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td colspan="5" style=" vertical-align: middle;background-color: #889DBA; padding-left: 50px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #FFFFFF; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Presidio Presidio 1 -Milano Città </span></p></td>
</tr>
<tr valign="top" style="height:25px">
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">Classificazione</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Immobili</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Edifici</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Infrastrutture</span></p></td>
  <td style=" vertical-align: middle;background-color: #F2F2F2; border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 9px; line-height: 1.1499023; font-weight: bold;">N. Terreni</span></p></td>
</tr>
<tr valign="top" style="height:20px">
  <td style=" vertical-align: middle;border: 1px solid #666666; padding-left: 5px; padding-right: 5px; "><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">null</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">0</span></p></td>
  <td style=" vertical-align: middle;border: 1px solid #666666; text-align: center;"><p style="overflow: hidden; text-indent: 0px; "><span style="font-family: Arial; color: #666666; font-size: 8px; line-height: 1.1499023; font-weight: bold;">1</span></p></td>
</tr>
<tr valign="top">
  <td colspan="5"><img alt="" src="rep_pma_building_classification_tot.html_files/px" style="width: 800px; height: 35px;"/></td>
</tr>
</table>

<![if IE]>
<script>
var links = document.querySelectorAll('link.jrWebFont');
setTimeout(function(){ if (links) { for (var i = 0; i < links.length; i++) { links.item(i).href = links.item(i).href; } } }, 0);
</script>
<![endif]>
</td><td width="50%">&nbsp;</td></tr>
</table>
</body>
</html>
